.button {
  width: 100%;
  border-radius: 8px;
  padding: 14px 12px;
  cursor: pointer;
  transition: background 0.3s;
  box-sizing: border-box;
}

.CTAsize {
  max-width: 353px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
}

.PopUpsize {
  max-width: 126px;
  height: 36px;
  font-size: 12px;
  font-weight: 400;
}

/* 파란색 버튼 */
.blue {
  background-color: #4d83fd;
  border: none;
  color: #fff;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

/* 진한 회색 버튼 */
.thickGray {
  background-color: #bdbdbd;
  color: #fff;
  border: none;
}

/* 연한 회색 버튼 */
.gray {
  background-color: #f6f6f6;
  color: #8e8e8e;
  border: 1px solid #dedede;
}
